<div class="container user-page">
  <div class="panel panel-default">
    <div class="panel-heading">用户管理</div>
    <div class="panel-body">
      <form name="retrievalForm" class="form-horizontal">
        <div class="form-group col-xs-3">
          <label class="control-label col-xs-4">工号</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-model="userid">
          </div>
        </div>
        <div class="form-group col-xs-4">
          <label class="control-label col-xs-4">开始日期</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-model="start_date" ng-click="startDateOpen = 1" uib-datepicker-popup="yyyy-MM-dd" is-open="startDateOpen" close-text="关闭" current-text="今天" clear-text="清除">
          </div>
        </div>
        <div class="form-group col-xs-4">
          <label class="control-label col-xs-4">结束日期</label>
          <div class="col-xs-8">
            <input type="text" class="form-control" ng-model="end_date" ng-click="endDateOpen = 1" uib-datepicker-popup="yyyy-MM-dd" is-open="endDateOpen" close-text="关闭" current-text="今天" clear-text="清除">
          </div>
        </div>
        <div class="form-group col-xs-2 text-right">
          <button class="btn btn-primary" ng-click="retrieval()">检索</button>
        </div>
      </form>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Num</th>
          <th>姓名</th>
          <th>工号</th>
          <th>手机号</th>
          <th>邮箱</th>
          <th>部门</th>
          <th>职级</th>
          <th>在职状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in users">
          <td>{{$index}}</td>
          <td>{{item.name}}</td>
          <td>{{item.id}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.email}}</td>
          <td>{{item.department}}</td>
          <td>{{transformRole(item.role)}}</td>
          <td ng-class="{'gray': !item.valid}">{{item.valid ? '在职' : '离职'}}</td>
          <td>
            <a class="operate" href="javascript:;" ng-click="edit(item.id)">
              <i class="fa fa-edit"></i>
            </a>
            <a class="operate" href="javascript:;" ng-click="remove(item.id)">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <div uib-pagination ng-model="current" total-items="total" items-per-page="limit" max-size="5" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" boundary-links="true" rotate="false"></div>
    </div>
  </div>
</div>
